body {
	padding: 0;
	margin: 0;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}
html, body, #map {
	height: 100%;
	width: 100vw;d
}
	
#index_menu {
	display:block;
	margin: 2em;
}

button{
	position: absolute;
	clear:both;
	z-index: 10000;
	top: 10px;
}
button#save{
	left: 50px;
}
button#clear{
	left: 120px;
}